<!DOCTYPE html>
<html>
  <head>
    <title>Pixel Trek</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <link rel="icon" href="favicon.gif" type="image/gif">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>

  <body onresize="resizeCanvas()" id="body">
    <!-- COPYRIGHT 2018 BROOKS JEREMIAH WIBBERDING, ALL RIGHTS RESERVED -->

    <%= yield %>

    <%= javascript_include_tag 'canvas', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'mouseCanvas', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'hudCanvas', 'data-turbolinks-track': 'reload' %>

    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </body>
</html>
